extends layout

block content
    .row
        .col-lg-12
            h1.page-header Sapi
        .row
            .col-lg-12
                .panel.panel-default
                    .panel-heading
                        | Asumsi Berat Sapi
                    .panel-body
                        form(role='form' method='POST' action='/sapi/1.0')
                            .form-group
                                label Pilih Asumsi Penambahan Berat Sapi /Hari (Kg) :
                                select#selBerat.form-control(style='width:80px;', name='selBerat')
                                    option(value='0.8') 0.8
                                    option(value='0.9') 0.9
                                    option(value='1.0') 1.0
                            .form-group
                                input#checkBerat.form-check-input(type='checkbox')
                                | &nbsp; Berat lebih dari 100kg



        .row
            .col-lg-12
                .panel.panel-default
                    .panel-heading
                        | Data Sapi
                    .panel-body
                        table#dataTables-sapi.table.table-striped.table-bordered.table-hover(width='100%')
                            thead
                                th(style="width:8%") ID
                                th(style="width:8%") No KTP
                                th(style="width:8%") Jenis 
                                th(style="width:8%") Daerah
                                th(style="width:8%") Umur (Bln)
                                th(style="width:10%") Tgl Awal
                                th(style="width:10%") Berat Awal (Kg)
                                th(style="width:10%") Berat Saat Ini (Kg)
                                th(style="width:10%") Berat 1 Bulan (Kg)
                                th(style="width:10%") Berat 3 Bulan (Kg)
                                th(style="width:5%") Status
                                th(style="width:5%") Keterangan
                            tbody#tblSapi
                                each sapi, i in dataSapi
                                    tr
                                        td 
                                            a.showPetani(href="javascript:;" data=sapi.noKTP)= sapi.idSapi
                                        td= sapi.noKTP
                                        td= sapi.jenis
                                        td= sapi.daerah
                                        td= sapi.umur
                                        td= moment(sapi.tgl_awal).format('DD/MM/YYYY')
                                        td= sapi.berat_awal
                                        td= sapi.berat_saat_ini
                                        td= sapi.berat_satu_bulan
                                        td= sapi.berat_tiga_bulan
                                        td= sapi.status
                                        td= sapi.keterangan
                                        
                                        
            // The Modal
            #myModal.modal.fade
                .modal-dialog
                    .modal-content
                        // Modal Header
                        .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                            h4.modal-title Modal Heading
                        // Modal body
                        .modal-body
                            form(action='#')
                                .form-group
                                    label(for='No KTP') No KTP:
                                    input.form-control(type='text', name="noKTP")
                                .form-group
                                    label(for='Nama') Nama :
                                    input.form-control(type='text', id="nama")
                                .form-group
                                    label(for='Alamat') Alamat :
                                    textarea.form-control(id="alamat")
                                .form-group
                                    label(for='Daerah') Daerah :
                                    input.form-control(type='text', id="daerah")
                                .form-group
                                    label(for='Kontak') Kontak :
                                    input.form-control(type='text', id="kontak")
                        // Modal footer
                        .modal-footer
                            button.btn.btn-danger(type='button', data-dismiss='modal') Close

